<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Selenium Testing" parallel="tests">

    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.miro.tests.SignUpTests"/>
        </classes>
    </test>

</suite>
